env/
results/
# data/scienceqa/images/
run_scienceqa/posthoc_analysis.py
run_scienceqa/plot.ipynb
run_scienceqa/bash_run_copy.sh

checkpoints/*.pt

*.zip
*.idea
*.vscode
*.DS_Store
*.ipynb_checkpoints
*.pyc
*__pycache__
