env/
results/
# data/scienceqa/images/
data/aokvqa/
data/my_aokvqa/
data/toydata_aokvqa/
run_scienceqa/posthoc_analysis.py
run_scienceqa/plot.ipynb
run_scienceqa/bash_run_copy.sh
run_toydata_aokvqa/
run_my_aokvqa/

checkpoints/*.pt

*.zip
*.idea
*.vscode
*.DS_Store
*.ipynb_checkpoints
*.pyc
*.pdf
*__pycache__
